'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'File Symbols', 'command': 'atom-ctags-with-file-path:toggle-file-symbols' }
      ]
    ]
  }
]

'context-menu':
  'atom-text-editor': [
    { label: 'Go to Declaration', command: 'atom-ctags-with-file-path:go-to-declaration' },
    { label: 'Return From Declaration', command: 'atom-ctags-with-file-path:return-from-declaration' },
    { label: 'Rebuild ctags', command: 'atom-ctags-with-file-path:rebuild' }
  ]
